@font-face {
    font-family: 'GT Walsheim';
    src: url('./fonts/GT-Walsheim-Black.otf') format('opentype');

}

@font-face {
    font-family: 'GT Walsheim Condensed';
    src: url('./fonts/GT-Walsheim-Condensed-Black.otf') format('opentype');
}

@font-face {
    font-family: 'GT Walsheim Condensed Bold Oblique';
    src: url('./fonts/GT-Walsheim-Condensed-Bold-Oblique.otf') format('opentype');
}

@font-face {
    font-family: 'GT Walsheim Condensed Bold';
    src: url('./fonts/GT-Walsheim-Condensed-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'GT Walsheim Condensed Medium';
    src: url('./fonts/GT-Walsheim-Condensed-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'GT Walsheim Condensed Ultra-Bold';
    src: url('./fonts/GT-Walsheim-Condensed-Ultra-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Kanit';
    src: url('./fonts/Kanit-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'GT Walsheim Medium';
    src: url('./fonts/GT-Walsheim-Medium.otf') format('opentype');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F2F2F2;
}

.first-hero-bg {
    width: 91%;
    max-height: 25vw;
    min-height: 50vw;
    background-color: #ECE7E1;
    margin-left: 4.5%;
    margin-right: 4.5%;
    margin-top: 0.5vw;
    z-index: -1;

}

    .h1-h2-container {
        display: block;
        position: relative;
        left: 8vw;
        bottom: 20vw;

    > * {
        display: block;
    }

    > h1 {
        width: 52vw;
        font-family: 'GT Walsheim Condensed';
        font-size: 7vw;
        line-height: 7vw;
        text-transform: uppercase;

        &:after{
            content: attr(data-text);
            -webkit-text-stroke: 0.4vw rgb(62, 37, 15, 0.9);
            color: rgb(0, 0, 0, 0);
        }
    }

    > h2 {
        font-family: "GT Walsheim Medium";
        width: 52vw;
        text-transform: uppercase;
        font-size: 2.5vw;
        margin: 0;
        position: relative;
        bottom: 3vw;
    }

    > img {
        position: relative;
        width: 4vw;
    }
}



.h1-h2-container + img {
    width: 27vw;
    position: relative;
    bottom: 62vw;
    right: 4vw;
    float: right;
    z-index: 2;
}

.first-hero-design {
    display: inline-block;
    position: relative;
    bottom: 7.5vw;
    right: 1.5vw;
    z-index: 2;

    h1 {
        &:nth-child(1), &:nth-child(2) {
            font-family: 'Kanit';
            font-size: 18vw;
            margin: 0;
            padding: 0;
            display: inline-block;  
        }

        &:nth-child(1) {
            color: #BFA288;
        }

        &:nth-child(2) {
            color: rgba(0, 0, 0, 0);
            -webkit-text-stroke: 0.5vw rgb(62, 37, 15, 0.8);
            position: relative;
            left: -20vw;
            top: -1vh;
        }
    }
}

.menu-items {
    display: inline-block;
    position: relative;
    bottom: 17vw;
    left: 12vw;

    > * {
        display: inline;
        font-size: 2vw;
        font-family: 'GT Walsheim Medium';
        margin-left: 2.5vw;
        margin-right: 2.5vw;
    }
}

.first-hero-border {
    width: 100%;
    max-height: 21vw;
    min-height: 48vw;
    background-color: rgb(0, 0, 0, 0);
    border: 0.3vw solid rgb(62, 37, 15, 0.7);
    right: 2vw;
    bottom: 109vw;
    z-index: 1;
    position: relative; 
    clear: both;
}

.first-hero-tab {

    > * {
        display: inline;
    }

    .tab-triangle {
        width: 0; 
        height: 0; 
        border-left: 10vw solid transparent;
        border-right: 10vw solid transparent;
        border-top: 10vw solid #ECE7E1;
        z-index: 2;
        position: relative;
        bottom: 19vw;
        left: 55vw;
    }

    .tab-rectangle {
        width: 8vw; 
        height: 4vw;
        background-color: #ECE7E1;
        z-index: 2;
        position: relative;
        bottom: 19vw;
        left: 55vw;
    }
}