@font-face {
    font-family: 'GT Walsheim Black';
    src: url('./fonts/GT-Walsheim-Black.otf') format('opentype');
}

@font-face {
    font-family: 'GT Walsheim Condensed Black';
    src: url('./fonts/GT-Walsheim-Condensed-Black.otf') format('opentype');
}

@font-face {
    font-family: 'GT Walsheim Condensed Bold Oblique';
    src: url('./fonts/GT-Walsheim-Condensed-Bold-Oblique.otf') format('opentype');
}

@font-face {
    font-family: 'GT Walsheim Condensed Bold';
    src: url('./fonts/GT-Walsheim-Condensed-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'GT Walsheim Condensed Medium';
    src: url('./fonts/GT-Walsheim-Condensed-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'GT Walsheim Condensed Ultra Bold';
    src: url('./fonts/GT-Walsheim-Condensed-Ultra-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'GT Walsheim Medium';
    src: url('./fonts/GT-Walsheim-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'GT Walsheim Regular';
    src: url('./fonts/GT-Walsheim-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Kanit';
    src: url('./fonts/Kanit-Black.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    width: 95%;
    height: 100%;
    margin-left: 2.5%;
}

.first-hero {
    width: 91%;
    max-height: 25vw;
    min-height: 50.5vw;
    background-color: #ECE7E1;
    margin-left: 5.5%;
    margin-right: 3.5%;
    margin-top: 0.2vw;
    display: block;
    position: relative;
    z-index: 2;

}

    .h1-h2-container {
        width: 33vw;
        display: block;
        position: relative;
        left: 8vw;
        bottom: 18vw;

    > * {
        display: block;
    }

    > h1 {
        width: 52vw;
        font-family: 'GT Walsheim Condensed Black';
        font-size: 6.5vw;
        line-height: 7vw;
        text-transform: uppercase;
        color: #40260F;
    }

    > h2 {
        font-family: "GT Walsheim Medium";
        width: 52vw;
        text-transform: uppercase;
        font-size: 2.5vw;
        margin: 0;
        position: relative;
        bottom: 3vw;
        color: rgba(0, 0, 0, 0.8);
    }

    > img {
        position: relative;
        width: 4vw;
    }
}



.h1-h2-container + img {
    width: 28vw;
    position: relative;
    z-index: 5;
    bottom: 62vw;
    left: 1.5vw;
    float: right;
}

.first-hero-design {
    display: inline-block;
    position: relative;
    bottom: 6.6vw;
    right: 1.5vw;
    z-index: 5;

    h1 {
        &:nth-child(1), &:nth-child(2) {
            font-family: 'Kanit';
            font-size: 18vw;
            margin: 0;
            padding: 0;
            display: inline-block;  
        }

        &:nth-child(1) {
            color: #BFA288;
        }

        &:nth-child(2) {
            color: rgba(0, 0, 0, 0);
            -webkit-text-stroke: 0.5vw rgb(62, 37, 15, 0.8);
            position: relative;
            left: -20vw;
            top: -1vh;
        }
    }
}

.menu-items {
    display: inline-block;
    position: relative;
    bottom: 16.5vw;
    left: 9vw;

    > * {
        display: inline;
        font-size: 2vw;
        font-family: 'GT Walsheim Medium';
        color: rgb(0, 0, 0, 0.9);
        margin-left: 2vw;
        margin-right: 2vw;
    }
}

.first-hero-border {
    width: 99.8%;
    height: 48.5vw;
    background-color: rgb(0, 0, 0, 0);
    border: 0.3vw solid #746253;
    border-right: 0;
    border-bottom: 0;
    right: 0.8vw;
    bottom: 120vw;
    position: relative; 
    clear: both;
    z-index: 4;
}

.first-hero-tab {
    clear: both;
    float: right;
    position: relative;
    top: -65vw;
    z-index: 3;

    > * {
        display: inline-block;
        position: relative;
    }

    .tab-triangle {
        width: 0; 
        height: 0; 
        border-left: 10vw solid transparent;
        border-right: 10vw solid transparent;
        border-top: 10vw solid #ECE7E1;
        right: -10vw;
        
    }

    .tab-rectangle {
        height: 10vw;
        padding-right: 23vw;
        background-color: #ECE7E1;
        position: relative;
    }

}
.first-hero-tab-border {
    position: relative;
    z-index: 4;

    > .tab-rectangle-border-1 {
        width:0.3vw;
        height: 53vw;
        background-color: #746253;
        position: relative; 
        clear: both;
        float: right;
        bottom: 168vw;
        right: 0.73vw;
    }

    > .tab-rectangle-border-2 {
        height: 0.31vw;
        width: 23.5%;
        background-color: #746253;
        position: relative; 
        clear: both;
        float: right;
        bottom: 168.3vw;
        right: 0.73vw;
    }

    > .tab-rectangle-border-3 {
        height: 0.33vw;
        width: 8.3%;
        background-color: #746253;
        position: relative; 
        clear: both;
        float: right;
        bottom: 171.1vw;
        right: 23%;
        transform: rotate(45deg)
    }

    > .tab-rectangle-border-4 {
        height: 0.26vw;
        width: 71%;
        background-color: #746253;
        position: relative; 
        clear: both;
        float: right;
        bottom: 173.85vw;
        right: 29.9%;
    }
}
.second-hero {
    width: 91%;
    height: 67vw;
    background-color: #E2E3E0;
    margin-left: 3.5%;
    margin-right: 5.5%;
    display: block;
    position: relative;

    > h1 {
        text-transform: uppercase;
        font-family: 'GT Walsheim Condensed Black';
        font-size: 7vw;
        position: relative;
        left: 8.5vw;
        bottom: 19.5vw;
        display: inline-block;

        &:after {
            content: attr(data-text);
            -webkit-text-stroke: 0.35vw #444544;
            color: rgb(0, 0, 0, 0);
        }
    }

    > p {
        width: 90%;
        font-size: 1.8vw;
        font-family: 'GT Walsheim Medium';
        position: relative;
        left: 8vw;
        bottom: 25.7vw;
    }
}

.first-hero-cover-container {
    position: relative;
    left: -4.5vw;
    top: 0.15vw;

    .white-background {
        width: 11vw;
        height: 8vw;
        background-color: #F2F2F2;
        position: relative;
        left: 58.1vw;
        bottom: 2.8vw;
    }

    .cover-triangle {
        width: 0; 
        height: 0; 
        border-left: 8vw solid transparent;
        border-right: 8vw solid transparent;
        border-top: 8vw solid #E2E3E0;
        transform: rotate(45deg);
        position: relative;
        left: 50.5vw;
        bottom: 9vw;
    }
}

.second-hero-container {
    position: relative;
    left: 2.1vw;
    bottom: 0.1vw;

    > .second-border-1 {
        height: 0.35vw;
        width: 8.5%;
        background-color: rgba(108, 125, 140);
        position: relative; 
        clear: both;
        float: right;
        bottom: 170.5vw;
        right: 26%;
        transform: rotate(45deg);
        z-index: 2;
    }

    > .second-border-2 {
        height: 0.4vw;
        width: 26.5%;
        background-color: rgba(108, 125, 140);
        position: relative; 
        clear: both;
        float: right;
        bottom: 168.4vw;
        right: 0.8vw;
        z-index: 2;
    }
}

.header-image-container {
    width: 90%;
    position: relative;
    left: 6vw;
    z-index: 3;
    background-color: rgb(214, 217, 215);

    ~ .about-p {
        animation: forwards scale_up 0.6s ease-in;
    }

    > img {
        width: 5vw;
    }

    > h2 {
        font-size: 4vw;
        margin: 0;
        font-family: 'GT Walsheim Condensed Black';
        text-transform: uppercase;
        color: rgb(0, 0, 0, 0.7);
    }

    > .about-header, > .about-image {
        display: inline;
    }
}


.about-container {
    background-color: rgba(108, 125, 140, 0.1);
    border: 0.4vw solid rgba(108, 125, 140);
    border-bottom: 0.2vw solid rgba(108, 125, 140);
    border-top: 0.2vw solid rgba(108, 125, 140);
    height: 7vw;
    display: block;
    transition: height 0.3s ease;
    position: relative;

    > .about-p {
        width: 90%;
        font-size: 1.8vw;
        font-family: 'GT Walsheim Medium';
        position: relative;
        left: 6vw;
        margin: 0;
        margin-bottom: 1vw;
        z-index: 0;
        bottom: 6.5vw;
    }

}


.header-image-container:hover ~ .about-p {
    animation: forwards scale_down 0.6s ease-out;
}

.about-p:hover {
    animation: forwards scale_down 0.6s ease-out;
}

@keyframes scale_down {
    0% {
      transform: translateY(0);
      opacity: 0%;
    }
    100% {
      transform: translateY(10vw);
      opacity: 100%;
    }
}

@keyframes scale_up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes scale_large {
    0% {
        transform: scaleY(1);
      }
      100% {
        transform: scaleY(1.9);
      }
}

.about-1-container {
    border: 0.4vw solid rgba(108, 125, 140);
    border-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    height: 17vw;
    
    > * {
    visibility: hidden;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0);
    }
}


.about-2-container {
    border-top: 0.4vw solid rgba(108, 125, 140);
}

.about-6-container {
    border-bottom: 0.4vw solid rgba(108, 125, 140);
}

.about-section {
    position: relative;
    bottom: 67vw;
    left: 1vw;
    width: 91.2%;
    margin-left: 3.5%;
}


.third-hero {
    width: 109.7%;
    max-height: 25vw;
    min-height: 17vw;
    background-color: #F2F2F2;
    display: block;
    position: relative;
    top: 0.9vw;
    right: 4.5vw;
}

.third-hero-bg {
    width: 91%;
    height: 9.5vw;
    background-color: #ECE7E1;
    display: block;
    position: relative;
    margin-left: 5.5%;
    margin-right: 3.5%;
    z-index: 1;
}

.third-hero-border {
    width: 99.8%;
    height: 9vw;
    background-color: rgb(0, 0, 0, 0);
    border: 0.3vw solid #746253;
    z-index: 5;
    position: relative;
    right: 0.9%;
    z-index: 2;
}

.third-hero-image {
    width: 7vw;
}

.third-hero-p {
    font-family: 'GT Walsheim Condensed Medium';
    text-transform: uppercase;
    font-size: 2vw;
}

.third-hero-border {

    > * {
        display: inline-block;
        position: relative;
    }

    > .text-image-container {
        left: 20vw;
        margin: 0 3vw;
        top: 2vw;

        > img {
            margin-left: 0.5vw;
        }
    }

}

.download-button {
    margin: 0;
    font-family: 'GT Walsheim Condensed Black';
    text-transform: uppercase;
    font-size: 2vw;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgb(191, 162, 136, 0.3);
    padding: 0.5vw 2.5vw;
    border: 1vw solid rgb(64, 38, 15, 0.8);
    border-top: 0.3vw solid rgb(64, 38, 15, 0.8);
    border-bottom: 0.3vw solid rgb(64, 38, 15, 0.8);
    bottom: 6vw;
    left: 7vw;
}

.third-hero-cover-container {
    position: relative;
    bottom: 68vw;
    right: 20vw;
    z-index: 3;

    > .second-white-background {
        width: 11vw;
        height: 8vw;
        background-color: #F2F2F2;
        position: relative;
        left: 58.1vw;
        bottom: 2.8vw;
    }

    > .second-cover-triangle {
        width: 0; 
        height: 0; 
        border-left: 8vw solid transparent;
        border-right: 8vw solid transparent;
        border-top: 8vw solid #E2E3E0;
        transform: rotate(45deg);
        position: relative;
        left: 50.5vw;
        bottom: 9vw;
    }
}



