@font-face {
  font-family: "GT Walsheim Black";
  src: url("./fonts/GT-Walsheim-Black.otf") format("opentype");
}
@font-face {
  font-family: "GT Walsheim Condensed Black";
  src: url("./fonts/GT-Walsheim-Condensed-Black.otf") format("opentype");
}
@font-face {
  font-family: "GT Walsheim Condensed Bold Oblique";
  src: url("./fonts/GT-Walsheim-Condensed-Bold-Oblique.otf") format("opentype");
}
@font-face {
  font-family: "GT Walsheim Condensed Bold";
  src: url("./fonts/GT-Walsheim-Condensed-Bold.otf") format("opentype");
}
@font-face {
  font-family: "GT Walsheim Condensed Medium";
  src: url("./fonts/GT-Walsheim-Condensed-Medium.otf") format("opentype");
}
@font-face {
  font-family: "GT Walsheim Condensed Ultra Bold";
  src: url("./fonts/GT-Walsheim-Condensed-Ultra-Bold.otf") format("opentype");
}
@font-face {
  font-family: "GT Walsheim Medium";
  src: url("./fonts/GT-Walsheim-Medium.otf") format("opentype");
}
@font-face {
  font-family: "GT Walsheim Regular";
  src: url("./fonts/GT-Walsheim-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Kanit";
  src: url("./fonts/Kanit-Black.ttf") format("truetype");
}
body, html {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  width: 100%;
  height: 100%;
}

.first-hero {
  width: 91%;
  max-height: 25vw;
  min-height: 50.5vw;
  background-color: #ECE7E1;
  margin-left: 5.5%;
  margin-right: 3.5%;
  margin-top: 0.5vw;
  display: block;
  position: relative;
  z-index: 2;
}

.h1-h2-container {
  width: 35vw;
  display: block;
  position: relative;
  left: 8vw;
  bottom: 20vw;
}
.h1-h2-container > * {
  display: block;
}
.h1-h2-container > h1 {
  width: 52vw;
  font-family: "GT Walsheim Condensed Black";
  font-size: 6.5vw;
  line-height: 7vw;
  text-transform: uppercase;
  color: #40260F;
}
.h1-h2-container > h2 {
  font-family: "GT Walsheim Medium";
  width: 52vw;
  text-transform: uppercase;
  font-size: 2.5vw;
  margin: 0;
  position: relative;
  bottom: 3vw;
  color: rgba(0, 0, 0, 0.8);
}
.h1-h2-container > img {
  position: relative;
  width: 4vw;
}

.h1-h2-container + img {
  width: 28vw;
  position: relative;
  bottom: 62vw;
  right: 1vw;
  float: right;
}

.first-hero-design {
  display: inline-block;
  position: relative;
  bottom: 7.5vw;
  right: 1.5vw;
  z-index: 5;
}
.first-hero-design h1:nth-child(1), .first-hero-design h1:nth-child(2) {
  font-family: "Kanit";
  font-size: 18vw;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.first-hero-design h1:nth-child(1) {
  color: #BFA288;
}
.first-hero-design h1:nth-child(2) {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0.5vw rgba(62, 37, 15, 0.8);
  position: relative;
  left: -20vw;
  top: -1vh;
}

.menu-items {
  display: inline-block;
  position: relative;
  bottom: 17vw;
  left: 10vw;
}
.menu-items > * {
  display: inline;
  font-size: 2vw;
  font-family: "GT Walsheim Medium";
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

.first-hero-border {
  width: 100%;
  height: 48vw;
  background-color: rgba(0, 0, 0, 0);
  border: 0.3vw solid #746253;
  border-right: 0;
  border-bottom: 0;
  right: 1vw;
  bottom: 120vw;
  position: relative;
  clear: both;
  z-index: 4;
}

.first-hero-tab {
  clear: both;
  float: right;
  position: relative;
  top: -65vw;
  z-index: 3;
}
.first-hero-tab > * {
  display: inline-block;
  position: relative;
}
.first-hero-tab .tab-triangle {
  width: 0;
  height: 0;
  border-left: 10vw solid transparent;
  border-right: 10vw solid transparent;
  border-top: 10vw solid #ECE7E1;
  right: -10vw;
}
.first-hero-tab .tab-rectangle {
  height: 10vw;
  padding-right: 23vw;
  background-color: #ECE7E1;
  position: relative;
}

.first-hero-tab-border {
  position: relative;
  z-index: 4;
}
.first-hero-tab-border > .tab-rectangle-border-1 {
  width: 0.3vw;
  height: 53vw;
  background-color: #746253;
  position: relative;
  clear: both;
  float: right;
  bottom: 168vw;
  right: 0.73vw;
}
.first-hero-tab-border > .tab-rectangle-border-2 {
  height: 0.31vw;
  width: 23.7%;
  background-color: #746253;
  position: relative;
  clear: both;
  float: right;
  bottom: 168.3vw;
  right: 0.73vw;
}
.first-hero-tab-border > .tab-rectangle-border-3 {
  height: 0.3vw;
  width: 8%;
  background-color: #746253;
  position: relative;
  clear: both;
  float: right;
  bottom: 171.1vw;
  right: 23.2%;
  transform: rotate(45deg);
}
.first-hero-tab-border > .tab-rectangle-border-4 {
  height: 0.26vw;
  width: 71.3%;
  background-color: #746253;
  position: relative;
  clear: both;
  float: right;
  bottom: 173.85vw;
  right: 29.8%;
}

.second-hero {
  width: 91%;
  height: 67vw;
  background-color: #E2E3E0;
  margin-left: 3.5%;
  margin-right: 5.5%;
  display: block;
  position: relative;
}
.second-hero .white-background {
  width: 11vw;
  height: 8vw;
  background-color: #F2F2F2;
  position: relative;
  left: 58.1vw;
  bottom: 2.8vw;
}
.second-hero .cover-triangle {
  width: 0;
  height: 0;
  border-left: 8vw solid transparent;
  border-right: 8vw solid transparent;
  border-top: 8vw solid #E2E3E0;
  transform: rotate(45deg);
  position: relative;
  left: 50.5vw;
  bottom: 9vw;
}
.second-hero > h1 {
  text-transform: uppercase;
  font-family: "GT Walsheim Condensed Black";
  font-size: 7vw;
  position: relative;
  left: 8.5vw;
  bottom: 19vw;
  display: inline-block;
}
.second-hero > h1:after {
  content: attr(data-text);
  -webkit-text-stroke: 0.35vw #444544;
  color: rgba(0, 0, 0, 0);
}
.second-hero > p {
  width: 90%;
  font-size: 1.8vw;
  font-family: "GT Walsheim Medium";
  position: relative;
  left: 8vw;
  bottom: 25vw;
}

.header-image-container {
  width: 90%;
  position: relative;
  left: 6vw;
}
.header-image-container > img {
  width: 5vw;
}
.header-image-container > h2 {
  font-size: 5vw;
  margin: 0;
  font-family: "GT Walsheim Condensed Black";
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
}
.header-image-container > .about-header, .header-image-container > .about-image {
  display: inline;
}

.about-1-container {
  visibility: hidden;
}

.about-container {
  background-color: rgba(108, 125, 140, 0.1);
  border: 0.4vw solid rgb(108, 125, 140);
  border-bottom: 0.2vw solid rgb(108, 125, 140);
  border-top: 0.2vw solid rgb(108, 125, 140);
}
.about-container:hover {
  background-color: rgba(108, 125, 140, 0.4);
  color: #F2F2F2;
}
.about-container > .about-p {
  display: block;
  width: 90%;
  font-size: 1.8vw;
  font-family: "GT Walsheim Medium";
  position: relative;
  left: 6vw;
  margin: 0;
  margin-bottom: 1vw;
}

.about-2-container {
  border-top: 0.4vw solid rgb(108, 125, 140);
}

.about-6-container {
  border-bottom: 0.4vw solid rgb(108, 125, 140);
}

.about-section {
  position: relative;
  bottom: 60vw;
  left: 1vw;
  width: 91%;
  margin-left: 3.5%;
}

.third-hero {
  width: 110%;
  max-height: 25vw;
  min-height: 17vw;
  background-color: #F2F2F2;
  display: block;
  position: relative;
  top: 2vw;
  right: 4.5vw;
}

.third-hero-bg {
  width: 90%;
  max-height: 25vw;
  min-height: 17vw;
  background-color: #ECE7E1;
  display: block;
  position: relative;
  margin-left: 5.5%;
  margin-right: 3.5%;
}

/*# sourceMappingURL=styles.css.map */
